.text {
    position: relative;

    .title {
        color: var(--black);
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 0.8rem;
        transition: 0.5s;

        &:hover {
            color: var(--primary-color);
        }
    }

    .subtitle {
        margin-top: 1rem;
        color: var(--gray);
    }

    .see-all {
        color: var(--primary-color);
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        position: absolute;
        right: 0;
        top: 1.5rem;

        span {
            display: flex;
            align-items: center;
            transition: 0.5s;
            font-size: 2rem;
        }

        &:hover {
            text-decoration: underline;

            span {
                transform: translateX(0.5rem);
            }
        }
    }
}

.container {
    margin-top: 4rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 4rem;
}

@media (max-width: 576px) {
    .container {
        padding: 0;
    }
}

@media (max-width: 380px) {
    .text .see-all {
        display: none;
    }
}
