.header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    .title {
        font-size: 2rem;
    }

    .filter {
        flex: 1;
        display: flex;
        border: 1px solid #e7e7e7;
        border-radius: 0.5rem;
        transition: 0.3s;
        position: relative;

        &:has(.filter-inp:focus) {
            border: 1px solid var(--primary-color);
        }

        .filter-inp {
            flex: 1;
            padding: 0.8rem;
            border-bottom-right-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .filter-btn {
            padding: 0.8rem 1.4rem;
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            background-color: var(--white);
            display: flex;
            align-items: center;
        }

        .clear-btn {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            color: var(--gray);
        }
    }

    .create-btn {
        background-color: var(--primary-color);
        color: var(--white);
        padding: 0.8rem 1.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.6rem;
        cursor: pointer;
        user-select: none;
        min-width: 120px;

        &:hover {
            background-color: #0253a8;
            transition: 0.5s;
        }
    }
}

.message-header {
    display: flex;
    padding: 1rem;
    margin-inline: -1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
}

.message-title {
    flex: 1;
    font-weight: 600;
}

@media (max-width: 997px) {
    .header {
        .create-btn {
            font-size: 1.4rem;
            padding: 0.8rem 1rem;
        }
    }
}
