.wrapper {
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid #e7e7e7;
    position: relative;

    .title {
        font-weight: 600;
        margin-bottom: 1rem;
    }
}
