@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,700&family=Quicksand:wght@500&&family=Oooh+Baby&display=swap');
@import 'normalize.css';

:root {
    // Color
    --white: #fff;
    --black: #000;
    --gray: #666;
    --primary-color: #4080ff;
    --secondary-color: #f05123;
    --text-color: #333;
    --gradient-color: linear-gradient(#007aff, #34aadc);

    // Font
    --font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Quicksand', sans-serif;
    --logo-font-family: 'Oooh Baby', cursive;

    // Default layout
    --header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    background-color: var(--white);
    overflow-y: overlay;
}

// scrollbar css
body ::-webkit-scrollbar {
    width: 6px;
}
body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

body ::-webkit-scrollbar-track {
    box-shadow: inset #fff;
    border-radius: 4px;
}

input,
button,
[tabindex] {
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: var(--font-family);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.4rem;
    line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--black);
    font-weight: 600;
}
