.header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .title {
        font-size: 2rem;
    }

    .filter {
        flex: 1;
        display: flex;
        border: 1px solid #e7e7e7;
        border-radius: 0.5rem;
        transition: 0.3s;
        position: relative;

        &:has(.filter-inp:focus) {
            border: 1px solid var(--primary-color);
        }

        .filter-inp {
            flex: 1;
            padding: 0.8rem;
            border-bottom-right-radius: 0.5rem;
            border-top-right-radius: 0.5rem;
        }

        .filter-btn {
            padding: 0.8rem 1.4rem;
            border-bottom-left-radius: 0.5rem;
            border-top-left-radius: 0.5rem;
            background-color: var(--white);
            display: flex;
            align-items: center;
        }

        .clear-btn {
            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
            color: var(--gray);
        }
    }

    .create-btn {
        background-color: var(--primary-color);
        color: var(--white);
        padding: 0.8rem 1.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        gap: 0.6rem;
        cursor: pointer;
        user-select: none;
        min-width: 120px;

        &:hover {
            background-color: #0253a8;
            transition: 0.5s;
        }
    }
}

.footer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation {
        display: flex;
        align-items: center;
        gap: 2rem;

        .next,
        .prev {
            cursor: pointer;
            font-size: 1.8rem;
        }

        .current {
            user-select: none;
        }
    }

    .hrv {
        .hrv-btn {
            padding: 0.6rem 1rem;
            border-radius: 0.5rem;
            background-color: rgba($color: #0965c7, $alpha: 0.1);
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 500;
            user-select: none;
            min-width: 135px;

            .icon {
                font-size: 3rem;
            }

            &:hover {
                background-color: rgba($color: #0965c7, $alpha: 0.2);
            }
        }
    }

    .hrv-popper {
        padding-block: 1rem;
        border-radius: 0.5rem;
        background-color: var(--white);
        box-shadow: 0 0 3rem rgba($color: #000000, $alpha: 0.1);

        .actions {
            .action {
                padding: 0.5rem 2.4rem;
                font-size: 1.5rem;
                cursor: pointer;
                user-select: none;

                &:hover {
                    background-color: #f7f7f7;
                }
            }
        }
    }
}

.create-tag-area {
    display: flex;
    gap: 2rem;
    margin-block: 2rem 3rem;
    opacity: 1;
    transition: 0.3s;

    .create-inp {
        flex: 1;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #e7e7e7;
        transition: 0.3s;

        &:hover {
            border: 1px solid var(--primary-color);
        }
    }

    button {
        font-weight: 600;
        padding: 0.8rem 1.5rem;
        border-radius: 0.5rem;
        user-select: none;
        min-width: 120px;
        cursor: pointer;
        transition: 0.5s;
    }

    .create-tag-btn {
        background-color: var(--primary-color);
        color: var(--white);

        &:hover {
            background-color: #0253a8;
        }
    }

    .cancel-create-tag-btn {
        background-color: #d4d3d3;

        &:hover {
            background-color: #e6e6e6;
        }
    }
}

.header-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 1rem;

    .header-action {
        width: 20%;
        text-align: center;
    }
}

.tag-item {
    border-bottom: 1px solid #f7f7f7;
    padding-bottom: 1rem;
}

.tag {
    display: flex;
    justify-content: space-between;
    padding-block: 1rem 0.5rem;

    .tag-title {
        color: var(--primary-color);
    }

    .tag-actions {
        width: 20%;
        display: flex;
        justify-content: center;
        gap: 1rem;

        .update-btn {
            color: var(--primary-color);
            cursor: pointer;
        }

        .delete-btn {
            color: var(--tertiary-color);
            cursor: pointer;
        }
    }
}

.update-tag {
    position: fixed;
    inset: 0;
    left: 240px;
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
        display: flex;
    }

    .update-overlay {
        position: absolute;
        inset: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        z-index: -1;
    }

    .update-inp {
        display: flex;
        width: 50%;
        background-color: var(--white);
        padding-inline: 1rem 0;
        border-radius: 0.5rem;
        overflow: hidden;
        transition: 0.3s;

        input {
            flex: 1;
            padding: 2rem 1rem;
        }

        button {
            padding-inline: 2rem;
            background-color: #e7e7e7;
            font-weight: 600;
            cursor: pointer;

            &:hover {
                color: var(--primary-color);
            }
        }
    }
}

@media (max-width: 997px) {
    .header {
        .create-btn {
            font-size: 1.4rem;
            padding: 0.8rem 1rem;
        }
    }
}
