.wrapper {
    height: 150vh;
    width: calc(100vw - 260px);
    overflow: hidden;
    color: var(--text-color);
}

@media (max-width: 1135px) {
    .wrapper {
        width: calc(100vw - 110px);
    }
}

@media (max-width: 762px) {
    .wrapper {
        width: calc(100vw - 10px);
    }
}
