.wrapper {
    display: flex;
    padding-block: 0.9rem;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);
    gap: 1rem;

    &:last-child {
        border-bottom: none;
    }
}

.name {
    width: 25%;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    line-height: 1.4;

    .email {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.message {
    flex: 1;
}
