.divide {
    background-color: var(--white);

    &.primary {
        background-color: var(--primary-color);
    }

    &.secondary {
        background-color: var(--secondary-color);
    }

    &.rounded {
        border-radius: 1rem;
    }

    &.opacity {
        opacity: 0.5;
    }
}
