.wrapper {
    position: fixed;
    left: 240px;
    top: 0;
    right: 0;
    padding-top: 1rem;
    padding-inline: 1rem;
    height: var(--header-height);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    flex-grow: 1;
    display: flex;
    position: relative;

    .searh-btn,
    .search-inp {
        background-color: rgb(248, 248, 248);
        color: var(--primary-color);
    }

    .divide {
        position: absolute;
        top: 50%;
        left: 40px;
        width: 1px;
        height: 20px;
        transform: translateY(-50%);
        background-color: #34aadc;
        opacity: 0.5;
    }

    .searh-btn {
        padding: 1rem;
        display: flex;
        align-items: center;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .search-inp {
        border-bottom-right-radius: 2rem;
        border-top-right-radius: 2rem;
        flex-grow: 1;
        padding-left: 1rem;

        &::placeholder {
            opacity: 1;
        }
    }

    &.inpFocus {
        .searh-btn,
        .search-inp {
            background-color: var(--primary-color);
            color: var(--white);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .clear-btn {
        position: absolute;
        right: 1rem;
        top: 8px;
        font-size: 2rem;
        color: var(--white);
        cursor: pointer;
    }

    .suggest {
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        background-color: var(--primary-color);
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        max-height: 60vh;
        padding-inline: 1rem;
        overflow: hidden;

        .title {
            display: block;
            margin-block: 1rem;
            color: var(--white);
            font-size: 1.5rem;
            font-weight: 600;
            padding-inline: 1rem;
        }

        .suggest-keyword-items {
            margin-bottom: 1rem;

            .suggest-keyword-item {
                border-radius: 0.6rem;
                cursor: pointer;

                &:hover {
                    background-color: rgba(52, 170, 220, 0.4);
                }

                .suggest-keyword-link {
                    color: var(--white);
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    padding: 1rem;
                }
            }
        }

        .suggest-result-items {
            margin-bottom: 1rem;

            .suggest-result-item {
                border-radius: 0.6rem;
                cursor: pointer;

                &:hover {
                    background-color: rgba(52, 170, 220, 0.4);
                }

                .suggest-result-link {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    padding: 1rem;
                    color: var(--white);

                    .image {
                        width: 50px;
                        height: 50px;
                        min-width: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    .text {
                        flex-grow: 1;

                        .blog-title {
                            font-weight: 500;
                        }

                        .blog-category {
                            opacity: 0.7;
                            font-size: 1.4rem;
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

.contact {
    display: flex;
    gap: 1.5rem;
    margin-left: 2rem;

    .contact-item {
        font-size: 2rem;
        padding: 1rem;
        border-radius: 50%;
        background-color: var(--primary-color);
        cursor: pointer;

        a {
            display: flex;
            align-items: center;
            color: var(--white);
        }

        &:hover a {
            color: var(--secondary-color);
        }
    }
}

@media (max-width: 1135px) {
    .wrapper {
        left: 90px;
    }

    .blog-title {
        font-size: 1.4rem;
    }
}

@media (max-width: 762px) {
    .wrapper {
        left: 0rem;
    }
}

@media (max-width: 380px) {
    .search {
        .search-inp {
            font-size: 1.5rem;
        }
    }

    .contact {
        position: fixed;
        right: 1rem;
        bottom: 9rem;
        flex-direction: column;
    }
}
