.wrapper {
    margin-right: 1rem;
    padding: 2rem 0 3rem;
}

.title {
    color: var(--black);
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: inline;
}

.subtitle {
    margin-top: 1rem;
    font-size: 1.4rem;
}

.container {
    margin-top: 2rem;
}
