.wrapper {
    display: flex;
    column-gap: 4%;
}

@media (max-width: 1400px) {
    .wrapper {
        column-gap: 5%;
    }
}

@media (max-width: 762px) {
    .wrapper {
        column-gap: 10%;
    }
}
