.content {
    display: flex;
    gap: 5rem;
}

.text {
    flex: 1;
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: 1rem;
        line-height: 1.2;

        span {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 6rem;
            color: var(--primary-color);
        }
    }

    .introduce-text {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        flex: 1;

        .introduce {
            flex: 1;

            p {
                font-size: 1.8rem;
                margin-block: 1.6rem;
            }
        }

        .maxim {
            display: flex;
            flex-direction: column;
            padding-left: 2rem;
            margin-bottom: 1rem;
            border-left: 3px solid var(--primary-color);

            i {
                color: var(--primary-color);
                font-size: 1.8rem;
            }

            span {
                font-weight: 600;
            }
        }
    }
}

.image {
    flex: 1;
    max-width: 500px;

    img {
        border-radius: 1rem;
    }
}

@media (max-width: 1400px) {
    .text {
        .introduce-text {
            margin-top: 1rem;

            .introduce {
                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media (max-width: 1135px) {
    .content {
        gap: 3rem;
    }

    .text {
        .title {
            span {
                font-size: 5rem;
            }
        }
    }

    .image {
        width: 1135px;
    }
}

@media (max-width: 860px) {
    .content {
        gap: 3rem;
        position: relative;
    }

    .text {
        flex: 1;

        .title {
            font-size: 3rem;

            span {
                font-size: 4rem;
            }
        }

        .image {
            flex: 1;
        }
    }
}

@media (max-width: 576px) {
    .content {
        flex-direction: column;
    }

    .image {
        max-width: 100%;
    }
}

@media (max-width: 320px) {
    .text {
        flex: 1;

        .title {
            font-size: 2.8rem;

            span {
                font-size: 3.6rem;
            }
        }
    }
}
